* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.container {
    display: grid;
    grid-template-columns: auto;
    margin: 1em;
    padding: 1em 3em;
    z-index: 0;
}
/*navbar*/
.nav-content {
    position: fixed;
    padding: 0 1em;
    width: 100%;
    background-color: #fff;
    top: 0;
    z-index: 100;
}
.navbar {
    z-index: 1;
    padding: 1em;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: space-between;
}
.menu {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;

}
.nav-title {
    font-weight: 500;
}
.item {
    list-style: none;
}
.item a{
 margin-top: 25px;
 margin-right: 1.5em;
 font-size: 22px;
 text-decoration: none;
 color: black;
}

.icon-menu {
    display: none;
}


/*end navbar*/

/*header*/
.header {
    margin: 2em 1em;
    padding: 1em;
    display: grid;
    grid-template-columns: 100%;
    justify-content: space-between;
}
.header .message {
    margin-left: 2em;
    margin-top: 2em;
}
.header .image {
    margin-top: 2em;
}
.header .message p {
    font-size: 18px;
    color: #6CBAE6;
}
.header .message h1 {
    font-size: 32px;
}
.header .message .message-text {
    color: gray;
}
.img {
    width: 100%;
    height: auto;
    border-radius: 25px;
    z-index: 0;
}
/*end header*/
/*services*/
.services {
    display: grid;
    padding: 2em 3em;
    grid-template-columns: repeat(3, auto);
    justify-content: space-around;
}
.card {
    padding: 3em 2em;
    border-radius: 25px;

}
.card:hover {
    -webkit-box-shadow: 9px 3px 26px 12px rgba(0, 0, 0, 0.16);
    -moz-box-shadow: 9px 3px 26px 12px rgba(0, 0, 0, 0.16);
    box-shadow: 9px 3px 26px 12px rgba(0, 0, 0, 0.16);
}
.card-body {
    margin-top: 3em;

    text-align: justify;
}
.card:hover .btn {
    outline: none;
    background-color: #6CBAE6;
    color: #fff;
}
.card:hover .btn:hover {
    background-color: #12a8fc;
    color: #fff;
}
.card:hover .btn:active {
    background-color: #009df5;
    color: #fff;
}
.services .card .card-header i {
    padding: 1em;
    border-radius: 15px;
}
.design {
    background-color: #6CBAE6;
    color: #fff;
}
.front-end {
    background-color: #68C690;
    color: #fff;
}
.back-end {
    background-color: #F18A8A;
    color: #fff;
}
/*end services*/
/*form btn*/
.contact-form {
    width: 25%;
    font-size: 14px;
    color: gray;
}
.contact-form .form-group {
    position: relative;
}
.contact-form .form-group .control {
    border: none;
    background-color: #f2f2f2;
    width: 100%;
    padding: 1em;
    border-radius: 15px;
    font-weight: bolder;

}
.contact-form .form-group .control:focus {
    outline: none;
}
.contact-form .form-group .btn {
    outline: none;
    position: absolute;
}
.btn {
    right: 1px;
    padding: 1em 2em;
    border: none;
    font-weight: bolder;
    border-radius: 15px;
}
.primary {
    background-color: #6CBAE6;
    color: #fff;
}
.primary:hover{
    background-color: #12a8fc;
}
.primary:active {
    background-color: #009df5;
}
/*end form*/
/*works*/
.work-detail {
    z-index: 0;
    margin-top: 2em;
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center;
}
.work-card {
    position: relative;
    margin: 15px;
}
.pt {
    padding-top: 10em;
}
.muted {
    color: gray;
    font-size: 14px;
}
.work-detail .work-card .see-more {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-top: 2em;
}
.work-detail .work-card .see-more a {
    text-decoration: none;
    color: #12a8fc;
    font-weight: bolder;
    font-size: 18px;
}
/*team*/
.team {
    display: grid;
    padding: 2em 3em;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    grid-gap:15px
}
.team-description {
    padding: 10em;
}
.team-description h1 {
    font-size: 28px;
}
.gird-team-image {
    display: grid;
    justify-content: center;
    grid-gap: 10px;
    grid-template-areas: 'image1 image2' 'image1 image3' ;
}
.image-1{
    grid-area: image1;
    padding-top: 8em;
}
.image-2{
    grid-area: image2;
}
.image-3{
    grid-area: image3;
}
.image-2 img{
    width: 90%;
}
.red {
    color: #F18A8A;
    margin-bottom: 1em;
}
.muted-p{
    margin-top: 1em;
    columns: grey;
}
/*end works*/
/*responsive*/
@media screen and (max-width: 600px)  {
    .work-detail .work-card .see-more {
        position: relative;
        text-align: right;
    }
    .container {
        padding: 0;
    }
    .icon-menu {
        display: block;
    }
    .menu {
        display: none;
    }
    .contact-form {
        width: 100%;
    }
    .services {
        grid-template-columns: auto;
        justify-content: center;
        padding: 0;
    }
    .work-detail {
        grid-template-columns: auto;
        justify-content: space-around;
    }
    .pt {
        padding-top: 0;
    }
    .team {
        padding: 1em;
        grid-template-columns: auto;
    }
    .image-1{
        grid-area: image1;
        padding-top: 3em;
    }
    .team-description {
        padding: 0;
    }

}

@media screen and (max-width: 600px)  {

    .menu.responsive{
        display: block;
        padding: 20px;
    }
    .menu.responsive a{
        display: block;
        margin-top: 1em;
    }
}
